@font-face {
    font-family: 'IBM Plex Sans';
    src: url('fonts/IBMPlexSans-Medium.woff2') format('woff2'),
    url('fonts/IBMPlexSans-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'IBM Plex Sans';
    src: url('fonts/IBMPlexSans-BoldItalic.woff2') format('woff2'),
    url('fonts/IBMPlexSans-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'IBM Plex Sans';
    src: url('fonts/IBMPlexSans-Light.woff2') format('woff2'),
    url('fonts/IBMPlexSans-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'IBM Plex Sans';
    src: url('fonts/IBMPlexSans.woff2') format('woff2'),
    url('fonts/IBMPlexSans.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'IBM Plex Sans';
    src: url('fonts/IBMPlexSans-MediumItalic.woff2') format('woff2'),
    url('fonts/IBMPlexSans-MediumItalic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'IBM Plex Sans';
    src: url('fonts/IBMPlexSans-Thin.woff2') format('woff2'),
    url('fonts/IBMPlexSans-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'IBM Plex Sans';
    src: url('fonts/IBMPlexSans-LightItalic.woff2') format('woff2'),
    url('fonts/IBMPlexSans-LightItalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'IBM Plex Sans';
    src: url('fonts/IBMPlexSans-ThinItalic.woff2') format('woff2'),
    url('fonts/IBMPlexSans-ThinItalic.woff') format('woff');
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: 'IBM Plex Sans';
    src: url('fonts/IBMPlexSans-ExtraLight.woff2') format('woff2'),
    url('fonts/IBMPlexSans-ExtraLight.woff') format('woff');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'IBM Plex Sans';
    src: url('fonts/IBMPlexSans-SemiBoldItalic.woff2') format('woff2'),
    url('fonts/IBMPlexSans-SemiBoldItalic.woff') format('woff');
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: 'IBM Plex Sans';
    src: url('fonts/IBMPlexSans-Bold.woff2') format('woff2'),
    url('fonts/IBMPlexSans-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'IBM Plex Sans';
    src: url('fonts/IBMPlexSans-Italic.woff2') format('woff2'),
    url('fonts/IBMPlexSans-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'IBM Plex Sans';
    src: url('fonts/IBMPlexSans-SemiBold.woff2') format('woff2'),
    url('fonts/IBMPlexSans-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}




@font-face {
    font-family: 'IBM Plex Sans';
    src: url('fonts/IBMPlexSans-SemiBold.woff2') format('woff2'),
    url('fonts/IBMPlexSans-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}






@font-face {
    font-family: "HKGrotesk-BoldItalic";
    src: url("fonts/HKGrotesk-BoldItalic.eot"); /* IE9 Compat Modes */
    src: url("fonts/HKGrotesk-BoldItalic.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("fonts/HKGrotesk-BoldItalic.otf") format("opentype"), /* Open Type Font */
    url("fonts/HKGrotesk-BoldItalic.svg") format("svg"), /* Legacy iOS */
    url("fonts/HKGrotesk-BoldItalic.ttf") format("truetype"), /* Safari, Android, iOS */
    url("fonts/HKGrotesk-BoldItalic.woff") format("woff"), /* Modern Browsers */
    url("fonts/HKGrotesk-BoldItalic.woff2") format("woff2"); /* Modern Browsers */
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "HKGrotesk-BoldItalic";
    src: url("fonts/HKGrotesk-BoldItalic.eot"); /* IE9 Compat Modes */
    src: url("fonts/HKGrotesk-BoldItalic.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("fonts/HKGrotesk-BoldItalic.otf") format("opentype"), /* Open Type Font */
    url("fonts/HKGrotesk-BoldItalic.svg") format("svg"), /* Legacy iOS */
    url("fonts/HKGrotesk-BoldItalic.ttf") format("truetype"), /* Safari, Android, iOS */
    url("fonts/HKGrotesk-BoldItalic.woff") format("woff"), /* Modern Browsers */
    url("fonts/HKGrotesk-BoldItalic.woff2") format("woff2"); /* Modern Browsers */
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: "HKGrotesk-BoldLegacy";
    src: url("fonts/HKGrotesk-BoldLegacy.eot"); /* IE9 Compat Modes */
    src: url("fonts/HKGrotesk-BoldLegacy.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("fonts/HKGrotesk-BoldLegacy.otf") format("opentype"), /* Open Type Font */
    url("fonts/HKGrotesk-BoldLegacy.svg") format("svg"), /* Legacy iOS */
    url("fonts/HKGrotesk-BoldLegacy.ttf") format("truetype"), /* Safari, Android, iOS */
    url("fonts/HKGrotesk-BoldLegacy.woff") format("woff"), /* Modern Browsers */
    url("fonts/HKGrotesk-BoldLegacy.woff2") format("woff2"); /* Modern Browsers */
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "HKGrotesk-BoldLegacyItalic";
    src: url("fonts/HKGrotesk-BoldLegacyItalic.eot"); /* IE9 Compat Modes */
    src: url("fonts/HKGrotesk-BoldLegacyItalic.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("fonts/HKGrotesk-BoldLegacyItalic.otf") format("opentype"), /* Open Type Font */
    url("fonts/HKGrotesk-BoldLegacyItalic.svg") format("svg"), /* Legacy iOS */
    url("fonts/HKGrotesk-BoldLegacyItalic.ttf") format("truetype"), /* Safari, Android, iOS */
    url("fonts/HKGrotesk-BoldLegacyItalic.woff") format("woff"), /* Modern Browsers */
    url("fonts/HKGrotesk-BoldLegacyItalic.woff2") format("woff2"); /* Modern Browsers */
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "HKGrotesk-Italic";
    src: url("fonts/HKGrotesk-Italic.eot"); /* IE9 Compat Modes */
    src: url("fonts/HKGrotesk-Italic.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("fonts/HKGrotesk-Italic.otf") format("opentype"), /* Open Type Font */
    url("fonts/HKGrotesk-Italic.svg") format("svg"), /* Legacy iOS */
    url("fonts/HKGrotesk-Italic.ttf") format("truetype"), /* Safari, Android, iOS */
    url("fonts/HKGrotesk-Italic.woff") format("woff"), /* Modern Browsers */
    url("fonts/HKGrotesk-Italic.woff2") format("woff2"); /* Modern Browsers */
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "HKGrotesk-LegacyItalic";
    src: url("fonts/HKGrotesk-LegacyItalic.eot"); /* IE9 Compat Modes */
    src: url("fonts/HKGrotesk-LegacyItalic.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("fonts/HKGrotesk-LegacyItalic.otf") format("opentype"), /* Open Type Font */
    url("fonts/HKGrotesk-LegacyItalic.svg") format("svg"), /* Legacy iOS */
    url("fonts/HKGrotesk-LegacyItalic.ttf") format("truetype"), /* Safari, Android, iOS */
    url("fonts/HKGrotesk-LegacyItalic.woff") format("woff"), /* Modern Browsers */
    url("fonts/HKGrotesk-LegacyItalic.woff2") format("woff2"); /* Modern Browsers */
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "HKGrotesk-Light";
    src: url("fonts/HKGrotesk-Light.eot"); /* IE9 Compat Modes */
    src: url("fonts/HKGrotesk-Light.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("fonts/HKGrotesk-Light.otf") format("opentype"), /* Open Type Font */
    url("fonts/HKGrotesk-Light.svg") format("svg"), /* Legacy iOS */
    url("fonts/HKGrotesk-Light.ttf") format("truetype"), /* Safari, Android, iOS */
    url("fonts/HKGrotesk-Light.woff") format("woff"), /* Modern Browsers */
    url("fonts/HKGrotesk-Light.woff2") format("woff2"); /* Modern Browsers */
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "HKGrotesk-LightItalic";
    src: url("fonts/HKGrotesk-LightItalic.eot"); /* IE9 Compat Modes */
    src: url("fonts/HKGrotesk-LightItalic.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("fonts/HKGrotesk-LightItalic.otf") format("opentype"), /* Open Type Font */
    url("fonts/HKGrotesk-LightItalic.svg") format("svg"), /* Legacy iOS */
    url("fonts/HKGrotesk-LightItalic.ttf") format("truetype"), /* Safari, Android, iOS */
    url("fonts/HKGrotesk-LightItalic.woff") format("woff"), /* Modern Browsers */
    url("fonts/HKGrotesk-LightItalic.woff2") format("woff2"); /* Modern Browsers */
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "HKGrotesk-LightLegacy";
    src: url("fonts/HKGrotesk-LightLegacy.eot"); /* IE9 Compat Modes */
    src: url("fonts/HKGrotesk-LightLegacy.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("fonts/HKGrotesk-LightLegacy.otf") format("opentype"), /* Open Type Font */
    url("fonts/HKGrotesk-LightLegacy.svg") format("svg"), /* Legacy iOS */
    url("fonts/HKGrotesk-LightLegacy.ttf") format("truetype"), /* Safari, Android, iOS */
    url("fonts/HKGrotesk-LightLegacy.woff") format("woff"), /* Modern Browsers */
    url("fonts/HKGrotesk-LightLegacy.woff2") format("woff2"); /* Modern Browsers */
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "HKGrotesk-LightLegacyItalic";
    src: url("fonts/HKGrotesk-LightLegacyItalic.eot"); /* IE9 Compat Modes */
    src: url("fonts/HKGrotesk-LightLegacyItalic.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("fonts/HKGrotesk-LightLegacyItalic.otf") format("opentype"), /* Open Type Font */
    url("fonts/HKGrotesk-LightLegacyItalic.svg") format("svg"), /* Legacy iOS */
    url("fonts/HKGrotesk-LightLegacyItalic.ttf") format("truetype"), /* Safari, Android, iOS */
    url("fonts/HKGrotesk-LightLegacyItalic.woff") format("woff"), /* Modern Browsers */
    url("fonts/HKGrotesk-LightLegacyItalic.woff2") format("woff2"); /* Modern Browsers */
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "HKGrotesk-Medium";
    src: url("fonts/HKGrotesk-Medium.eot"); /* IE9 Compat Modes */
    src: url("fonts/HKGrotesk-Medium.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("fonts/HKGrotesk-Medium.otf") format("opentype"), /* Open Type Font */
    url("fonts/HKGrotesk-Medium.svg") format("svg"), /* Legacy iOS */
    url("fonts/HKGrotesk-Medium.ttf") format("truetype"), /* Safari, Android, iOS */
    url("fonts/HKGrotesk-Medium.woff") format("woff"), /* Modern Browsers */
    url("fonts/HKGrotesk-Medium.woff2") format("woff2"); /* Modern Browsers */
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "HKGrotesk-MediumItalic";
    src: url("fonts/HKGrotesk-MediumItalic.eot"); /* IE9 Compat Modes */
    src: url("fonts/HKGrotesk-MediumItalic.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("fonts/HKGrotesk-MediumItalic.otf") format("opentype"), /* Open Type Font */
    url("fonts/HKGrotesk-MediumItalic.svg") format("svg"), /* Legacy iOS */
    url("fonts/HKGrotesk-MediumItalic.ttf") format("truetype"), /* Safari, Android, iOS */
    url("fonts/HKGrotesk-MediumItalic.woff") format("woff"), /* Modern Browsers */
    url("fonts/HKGrotesk-MediumItalic.woff2") format("woff2"); /* Modern Browsers */
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "HKGrotesk-MediumLegacy";
    src: url("fonts/HKGrotesk-MediumLegacy.eot"); /* IE9 Compat Modes */
    src: url("fonts/HKGrotesk-MediumLegacy.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("fonts/HKGrotesk-MediumLegacy.otf") format("opentype"), /* Open Type Font */
    url("fonts/HKGrotesk-MediumLegacy.svg") format("svg"), /* Legacy iOS */
    url("fonts/HKGrotesk-MediumLegacy.ttf") format("truetype"), /* Safari, Android, iOS */
    url("fonts/HKGrotesk-MediumLegacy.woff") format("woff"), /* Modern Browsers */
    url("fonts/HKGrotesk-MediumLegacy.woff2") format("woff2"); /* Modern Browsers */
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "HKGrotesk-MediumLegacyItalic";
    src: url("fonts/HKGrotesk-MediumLegacyItalic.eot"); /* IE9 Compat Modes */
    src: url("fonts/HKGrotesk-MediumLegacyItalic.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("fonts/HKGrotesk-MediumLegacyItalic.otf") format("opentype"), /* Open Type Font */
    url("fonts/HKGrotesk-MediumLegacyItalic.svg") format("svg"), /* Legacy iOS */
    url("fonts/HKGrotesk-MediumLegacyItalic.ttf") format("truetype"), /* Safari, Android, iOS */
    url("fonts/HKGrotesk-MediumLegacyItalic.woff") format("woff"), /* Modern Browsers */
    url("fonts/HKGrotesk-MediumLegacyItalic.woff2") format("woff2"); /* Modern Browsers */
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "HKGrotesk-Regular";
    src: url("fonts/HKGrotesk-Regular.eot"); /* IE9 Compat Modes */
    src: url("fonts/HKGrotesk-Regular.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("fonts/HKGrotesk-Regular.otf") format("opentype"), /* Open Type Font */
    url("fonts/HKGrotesk-Regular.svg") format("svg"), /* Legacy iOS */
    url("fonts/HKGrotesk-Regular.ttf") format("truetype"), /* Safari, Android, iOS */
    url("fonts/HKGrotesk-Regular.woff") format("woff"), /* Modern Browsers */
    url("fonts/HKGrotesk-Regular.woff2") format("woff2"); /* Modern Browsers */
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "HKGrotesk-RegularLegacy";
    src: url("fonts/HKGrotesk-RegularLegacy.eot"); /* IE9 Compat Modes */
    src: url("fonts/HKGrotesk-RegularLegacy.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("fonts/HKGrotesk-RegularLegacy.otf") format("opentype"), /* Open Type Font */
    url("fonts/HKGrotesk-RegularLegacy.svg") format("svg"), /* Legacy iOS */
    url("fonts/HKGrotesk-RegularLegacy.ttf") format("truetype"), /* Safari, Android, iOS */
    url("fonts/HKGrotesk-RegularLegacy.woff") format("woff"), /* Modern Browsers */
    url("fonts/HKGrotesk-RegularLegacy.woff2") format("woff2"); /* Modern Browsers */
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "HKGrotesk-SemiBold";
    src: url("fonts/HKGrotesk-SemiBold.eot"); /* IE9 Compat Modes */
    src: url("fonts/HKGrotesk-SemiBold.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("fonts/HKGrotesk-SemiBold.otf") format("opentype"), /* Open Type Font */
    url("fonts/HKGrotesk-SemiBold.svg") format("svg"), /* Legacy iOS */
    url("fonts/HKGrotesk-SemiBold.ttf") format("truetype"), /* Safari, Android, iOS */
    url("fonts/HKGrotesk-SemiBold.woff") format("woff"), /* Modern Browsers */
    url("fonts/HKGrotesk-SemiBold.woff2") format("woff2"); /* Modern Browsers */
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "HKGrotesk-SemiBoldItalic";
    src: url("fonts/HKGrotesk-SemiBoldItalic.eot"); /* IE9 Compat Modes */
    src: url("fonts/HKGrotesk-SemiBoldItalic.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("fonts/HKGrotesk-SemiBoldItalic.otf") format("opentype"), /* Open Type Font */
    url("fonts/HKGrotesk-SemiBoldItalic.svg") format("svg"), /* Legacy iOS */
    url("fonts/HKGrotesk-SemiBoldItalic.ttf") format("truetype"), /* Safari, Android, iOS */
    url("fonts/HKGrotesk-SemiBoldItalic.woff") format("woff"), /* Modern Browsers */
    url("fonts/HKGrotesk-SemiBoldItalic.woff2") format("woff2"); /* Modern Browsers */
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "HKGrotesk-SemiBoldLegacy";
    src: url("fonts/HKGrotesk-SemiBoldLegacy.eot"); /* IE9 Compat Modes */
    src: url("fonts/HKGrotesk-SemiBoldLegacy.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("fonts/HKGrotesk-SemiBoldLegacy.otf") format("opentype"), /* Open Type Font */
    url("fonts/HKGrotesk-SemiBoldLegacy.svg") format("svg"), /* Legacy iOS */
    url("fonts/HKGrotesk-SemiBoldLegacy.ttf") format("truetype"), /* Safari, Android, iOS */
    url("fonts/HKGrotesk-SemiBoldLegacy.woff") format("woff"), /* Modern Browsers */
    url("fonts/HKGrotesk-SemiBoldLegacy.woff2") format("woff2"); /* Modern Browsers */
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "HKGrotesk-SemiBoldLegacyItalic";
    src: url("fonts/HKGrotesk-SemiBoldLegacyItalic.eot"); /* IE9 Compat Modes */
    src: url("fonts/HKGrotesk-SemiBoldLegacyItalic.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("fonts/HKGrotesk-SemiBoldLegacyItalic.otf") format("opentype"), /* Open Type Font */
    url("fonts/HKGrotesk-SemiBoldLegacyItalic.svg") format("svg"), /* Legacy iOS */
    url("fonts/HKGrotesk-SemiBoldLegacyItalic.ttf") format("truetype"), /* Safari, Android, iOS */
    url("fonts/HKGrotesk-SemiBoldLegacyItalic.woff") format("woff"), /* Modern Browsers */
    url("fonts/HKGrotesk-SemiBoldLegacyItalic.woff2") format("woff2"); /* Modern Browsers */
    font-weight: normal;
    font-style: normal;
}